PUBLIC_SIGNUP_ENDPOINT=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
PUBLIC_SIGNUP_SOURCE=usacc-interest-list
SITE_URL=https://your-name.github.io
BASE_PATH=/us-anti-corruption-court-project

OUTREACH_FROM=alex@dancingdragons.cc
OUTREACH_TO=alexander.d.mills@gmail.com
OUTREACH_CC=admissions@georgetown.edu
OUTREACH_SUBJECT=Summer Internship ($3k-$5k): Anti-Corruption Research Collaboration
OUTREACH_BCC_CSV=docs/law-school-anti-corruption-outreach-2026-04-22.csv
OUTREACH_BODY_FILE=docs/law-school-outreach-email-2026-04-22.txt
OUTREACH_HTML_BODY_FILE=docs/law-school-outreach-email-2026-04-29.html
OUTREACH_BROWSER_APP=Google Chrome
OUTREACH_GMAIL_PROFILE=Default
